{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Личный кабинет{% endblock %}
{% block head %}<link rel="stylesheet" href="{% static 'main/css/personal.css' %}">{% endblock %}
{% block content %}
 <header>
        <div class="left">
            <h1 class="text-gradient">ДракоФин</h1>
        </div>
        <div class="right">
            <nav>
                <select onchange="location = this.value;">
                <option value="">Профиль</option>
                <option value="#home">Главная</option>
                <option value="/logout/">Выход</option>
                <option value="/settings/">Настройки</option>

                 </select>
            </nav>
            <form method="GET" action="{% url 'dashboard' %}" class="search-form">
    <input type="text" name="category" placeholder="Поиск по категориям..." value="{{ query }}">
    <button type="submit">Поиск</button>
</form>
</div>
    </header>
<main>
    <div class="dashboard-horizontal">
            <div>
                {% if user %}
                <h1>С возвращением, {{ user.name }}</h1>
                {% endif %}
            </div>
            <div>
                <img src="" alt="Здесь будет картинка">
            </div>
        </div>
        <div class="dashboard">
            <a href="/" class="card">
                <h2>Баланс (на дату)</h2>
                <p>100,000 ₽</p>
            </a>
            <a href="/" class="card">
                <h2>Доходы</h2>
                <p>50,000 ₽</p>
            </a>
            <a href="/" class="card">
                <h2>Расходы</h2>
                <p>20,000 ₽</p>
            </a>
        </div>
        <div class="dashboard-horizontal">
            <div>
                <h2>Фильтр</h2>
                <label for="start-date">с:</label>
                <input type="date" id="start-date">

                <label for="end-date">по:</label>
                <input type="date" id="end-date">
                <label for="dropdown">Укажите тип транзакции:</label>
                <select id="dropdown">
                    <option value="option1">Доходы</option>
                    <option value="option2">Расходы</option>
                </select>
                <button type="button" onclick="filterResults()">Фильтровать</button>
            </div>
        </div>
    <div class="dashboard-horizontal">
        <h2>Список транзакций</h2>
        <button type="button" onclick="window.location.href='{% url 'addcategory' %}'">Добавить транзакцию</button>
    </div>
    <table>
    <thead>
        <tr>
            <th>Дата</th>
            <th>Категория</th>
            <th>Сумма</th>
            <th>Комментарий</th>
        </tr>
    </thead>
    <tbody>
     {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.date }}</td>
            <td>{{ transaction.category }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.comment }}</td>
            <td><button type="button" onclick="filterResults()">Изменить</button></td>
            <td><button type="button" onclick="filterResults()">Удалить</button></td>
        </tr>
    {% empty %}
            <li>Нет транзакций за этот период.</li>
    {% endfor %}
    </tbody>
</table>
</main>
{% endblock %}