main {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
}
.container {
    display: flex;
    width: 100%;
        }
.image-section, .form-section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.image-section img {
    max-width: 100%;
    height: auto;
}
.form-container {
    width: 100%;
    max-width: 400px;
}
input[type="email"], input[type="password"], input[type="text"] {
    background-color: #131212;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid #639372;
}
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.main-button {
    background-color: #131212;
    color: #639372;
}
.secondary-button {
    background-color: #131212;
    color: #639372;
    margin-top: 10px;
}