body{
    background-color: #131212;
    color: #639372;
    font-family: Arial, sans-serif;
    flex-direction: column;
}
header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    background-color: #131212;
    color: #639372;
    padding: 20px;
    text-align: center;
}
main{
    margin: 0;
    padding: 0;
    background-color: #131212;
    color: #639372;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer {
    text-align: center;
    padding: 0px;
    background-color: #131212;
    color: #639372;
    position: relative;
    bottom: 0;
    width: 100%;
}
nav {
    display: flex;
    justify-content: center;
    margin-left: 20px;
}
nav a {
    color: #639372;
    padding: 1rem;
    text-decoration: none;
}
nav a:hover {
    background-color: #000000;
}
.left {
    flex: 1;
}
.right {
    flex: 1;
    text-align: right;
}
.back{
    margin: 0px;
}
