.dashboard {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
.card {
            background-color: #131212;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            flex: 1;
            min-width: 250px;
            padding: 20px;
            text-align: center;
            text-decoration: none;
            color: #639372;
            transition: background-color 0.3s;
        }
.card:hover {
            background-color: #639372;
        }
h1{
    color: #639372;
}
h2 {
            margin: 0 0 10px;
            font-size: 1.5em;
            color: #639372;
}
p {
            font-size: 1.2em;
            color: #639372;
}
label{
    color: #639372;
}
.transactions {
            margin-top: 20px;
            background-color: #131212;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
.transaction {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            border-bottom: 1px solid #eaeaea;
        }
.transaction:last-child {
            border-bottom: none;
        }
.transaction div {
            flex: 1;
            text-align: center;
        }
.dashboard-horizontal{
    display: flex;
    align-items: center;
    gap: 10px;

}
button {
    text-align: center;
    margin: 5px;
    border-radius: 15px;
    background-color: #131212;
    color: #639372;
    width: 10em;
    height: 3em;
}